#.gitignore file
__pycache__/
*.pyc
.env
.DS_Store
venv/
env/
*.sqlite3
*.log
*.pot
*.mo
*.db
*.sqlite
*.egg-info/
dist/
build/
*.egg
*.pyo
*.pyd
*.swp
.idea/
.vscode/
*.iml
.ipynb_checkpoints
*.env
*.cache
*.pytest_cache/
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.pyright/
celerybeat-schedule
instance/
.webassets-cache
.scrapy
docs/_build/
*.coverage
coverage.xml
*.cover
*.log
*.pot   